@import url('https://fonts.googleapis.com/css?family=Montserrat');
body {
	background-image: linear-gradient(to right, rgba(255, 217, 0, 0.678), rgba(255,0,0,1));
}

h1 {
	background-image: url(https://media2.giphy.com/media/3o6vXQIj1UkV8FZ7VK/giphy.gif?cid=ecf05e47ycjx51w3159ll7z6jqyocvasb5272x975s3sp79k&rid=giphy.gif&ct=g);
	background-size: cover;
	color: transparent;
	-moz-background-clip: text;
	-webkit-background-clip: text;
	text-transform: uppercase;
	font-size: 120px;
	line-height: .75;
	margin: 10px 0;
}

.pizza-style {
  font-size: large
};